@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Medium.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    font-family: Roboto, Georgia;
}

body, table {
    font-size: 13px;
    color: #50514F;
    padding: 10px;
}

hr {
    margin: 20px auto;
    width: 95%;
}

.main_title {
    text-align: center;
    margin: 15px auto 50px;
    font-family: Roboto, Georgia;
    background-color: #f25f5c;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

h2.sub_title {
    text-align: center;
    margin: 5px auto 20px;
    color: #f25f5c;
    font-family: Roboto, Georgia;
}

p.analysis_item {
    padding: 2px;
}

p.analysis_item b {
    color: #247BA0;
}

a {
    color: #70C1B3;
    text-decoration: none;
    font-weight: bold;
}

a:hover, a:visited, a:active {
    color: #87231B;
}

#recap_table_wrapper input, #recap_table_wrapper select {
    padding: 2px;
    font-family: Roboto, Georgia;
}